@import url(assets/css/css.css);
html,
body {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: url(assets/images/ElementSqare.Half.Size.webp) center center
		no-repeat fixed;
	background-size: cover !important;
	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(assets/images/ElementSqare.Half.Size.webp) center center
		no-repeat fixed;
	background-size: cover;
	filter: blur(1px);
	z-index: -1;
}
div.tip::before {
	content: 'Tip: ';
}
div.tip {
	color: #fff;
	position: fixed;
	left: 2%;
	bottom: 5%;
	text-shadow: 0 0 5px #000;
}
div.loadingBar {
	position: fixed;
	right: 2%;
	bottom: 5%;
	overflow: hidden;
}
div.loadingBarTxT {
	color: #000;
	z-index: 999;
	animation: loadingBarTXTAnim 1s ease-in-out infinite;
	text-shadow: 0 0 5px #000;
}
div.loadingBarBG {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #fff;
	animation: loadingBarBGAnim 1s ease-in-out infinite;
}
@keyframes loadingBarBGAnim {
	0% {
		left: -100%;
	}
	100% {
		left: 200%;
	}
}
@keyframes loadingBarTXTAnim {
	0% {
		color: #fff;
	}
	50% {
		color: #000;
	}
	100% {
		color: #fff;
	}
}
