@import url(../assets/css/css.css);
html {
	--background: url(../assets/images/ElementSqare.Half.Size.webp);
	background: var(--background) center center no-repeat fixed;
	background-size: cover !important;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}
html::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--background) center center no-repeat fixed;
	background-size: cover;
	filter: blur(15px);
	z-index: -1;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	backdrop-filter: blur(10px);
	box-sizing: border-box;
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
}
@keyframes fadeIn {
	0% {
		height: 100%;
		width: 100%;
		opacity: 1;
	}
	100% {
		height: 100%;
		width: 100%;
		opacity: 0;
	}
}
div.leftArea {
	position: relative;
	margin-left: 75px;
	background-color: #00000050;
	height: 100%;
	width: 350px;
}
div.topLeftBar {
	width: 100%;
	height: 35px;
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
	padding: 0 20px 0 2.5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
div.sortMode::before {
	content: '排序方式\3000\3000\3000\3000';
	font-size: 12px;
	transform: scale(0.8);
}
div.settingBtn,
div.sortMode {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
	object-position: center center;
	object-fit: contain;
	cursor: pointer;
}
div.settingBtn::after,
div.sortMode::after {
	content: '';
	height: 15px;
	width: 15px;
	background-position: center center;
	background-size: cover;
	display: block;
	margin-left: 10px;
	background-image: url(../assets/images/Sort.svg);
}
div.songList {
	display: flex;
	position: absolute;
	flex-flow: column;
	margin-top: 100px;
	margin-bottom: 100px;
	overflow: hidden;
	width: 100%;
	/* overflow-y: scroll; */
}
div.settingBtn::after {
	background-image: url(../assets/images/Settings.svg) !important;
}
div.songItemContainer {
	background: transparent;
	color: #fff;
	font-size: 20px;
	margin: 20px 0 20px 0;
	height: 35px;
	display: flex;
	padding: 0 20px 0 20px;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
div.songItemContainer > div.songItem {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
div.songItemContainer > div.level {
	width: fit-content;
	width: -moz-fit-content;
	display: flex;
	align-items: center;
}
div.songItemContainer > div.level::before {
	content: '';
	display: none;
	width: 25px;
	height: 25px;
	background: var(--historyGrade) no-repeat center center;
	background-size: cover;
	margin: 0 30px 0 0;
}
div.playBtn {
	position: fixed;
	right: 0px;
	bottom: 15px;
	width: 100px;
	height: 85px;
	z-index: 999;
}
div.songItemContainer > div.level::after {
	content: attr(data-level);
	font-size: 28px;
}
div.songItemContainer.selected {
	all: initial;
	width: 100%;
	height: 50px;
	position: relative;
	left: 50%;
	font-size: 36px;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
	margin: 20px 0 20px 0;
	padding: 5px 5px 10px 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
div.songItemContainer.selected > div.songItem.selected {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 15px;
	padding: 0;
	max-width: calc(100% - 100px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
div.songItemContainer.selected > div.songItem.selected::after {
	content: attr(data-artist);
	font-size: 12px;
	font-weight: 100;
	margin-top: -5px;
}
div.songItemContainer.selected > div.level {
	height: 150% !important;
	width: 75px !important;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	transform: translateY(2%);
}

div.songItemContainer.selected > div.level::before {
	background: none !important;
	content: attr(data-level);
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.songItemContainer.selected > div.level::after {
	content: '';
	display: block;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
div.songItemContainer.selected > div.level.ez::after {
	content: 'EZ';
}
div.songItemContainer.selected > div.level.hd::after {
	content: 'HD';
}
div.songItemContainer.selected > div.level.in::after {
	content: 'IN';
}
div.songItemContainer.selected > div.level.at::after {
	content: 'AT';
}
div.rightArea {
	display: flex;
	flex-direction: column;
	position: relative;
	right: 60px;
	height: 100%;
	width: calc(100% - 350px - 200px);
	/* width: 400px; */
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding-left: 15%;
	/* --scale:1;
	transform-origin: right;
	transform: scale(var(--scale)); */
}
div.illustrationContainer {
	width: 100%;
	height: 60%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	margin-bottom: 15px;
}
img.illustration {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
div.detailBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #00000055;
	color: #fff;
	margin-top: 15px;
	width: 100%;
	height: 35px;
}
div.levelChooser {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
	width: -moz-fit-content;
	height: 100%;
	background-color: #fff;
	color: #000;
	padding-left: 5px;
}
div.levelChooser > div.levelItem {
	width: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 5px 0 5px;
	cursor: pointer;
}
div.levelChooser > div.levelItem.disabled {
	display: none;
}
div.levelChooser > div.levelItem.ez {
	margin-left: 0;
}
div.levelChooser > div.levelItem.at {
	margin-left: 0;
}
div.levelChooser > div.levelItem.selected {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120%;
	background-color: #6cf;
	color: #fff;
}
div.levelChooser > div.levelItem.selected.ez {
	background-color: #51af44;
}
div.levelChooser > div.levelItem.selected.hd {
	background-color: #3173b3;
}
div.levelChooser > div.levelItem.selected.in {
	background-color: #be2d23;
}
div.levelChooser > div.levelItem.selected.at {
	background-color: #3a3637;
}
div.levelChooser > div.levelItem::before {
	content: attr(data-level);
}
div.levelChooser > div.levelItem.fadeOut {
	animation: fade 0.3s ease-in;
}
div.levelChooser > div.levelItem.fadeIn {
	animation: fade 0.3s ease-in reverse;
}
@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.loadingEmbedFrame {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
	z-index: 999999999;
	background: #999;
}
div.levelChooser > div.levelItem::after {
	font-size: 12px;
	line-height: 0;
	transform: scale(0.8);
}
div.levelChooser > div.levelItem.ez::after {
	content: 'EZ';
}
div.levelChooser > div.levelItem.hd::after {
	content: 'HD';
}
div.levelChooser > div.levelItem.in::after {
	content: 'IN';
}
div.levelChooser > div.levelItem.at::after {
	content: 'AT';
}
div.score {
	width: 200px;
	height: 100%;
	display: flex;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	order: 0;
}
div.score::before {
	content: attr(data-acc);
	font-size: 12px;
	transform: scale(0.8);
	order: 1;
	display: flex;
	color: #999;
	justify-content: center;
	align-items: center;
	margin-bottom: -10px;
}
div.score.unplayed::after {
	content: 'NEW';
	font-size: 14px;
	color: #999;
	padding-bottom: 10px;
	padding-right: 5px;
	order: 2;
	text-shadow: 0 0 5px #999;
}

div.playBtn {
	position: fixed;
	right: 0px;
	bottom: 15px;
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background: #fff no-repeat center center;
	/* background: url(./play.png) no-repeat center center; */
	background-size: cover;
	cursor: pointer;
}
div.playBtn::before {
	display: block;
	content: '▷';
	font-size: 2.5rem;
}

div.readyToLoadOverlay {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}
div.readyToLoadOverlay.go {
	height: 100%;
	width: 999%;
	opacity: 1;
	z-index: 999;
	animation: slideIn 2s cubic-bezier(0.52, 0.28, 0.04, 0.98);
	position: fixed;
	top: 0;
	right: -100%;
	background-color: #000;
	transform: skew(-15deg);
}
@keyframes slideIn {
	0% {
		right: 100%;
	}
	100% {
		right: -100%;
	}
}
@media screen and (max-width: 768px) {
	body {
		padding: 0;
	}
	div.rightArea {
		position: fixed;
		width: 95%;
		height: fit-content;
		height: -moz-fit-content;
		left: 50%;
		bottom: 15vh;
		transform: translateX(-57.5%);
	}
	#rightArea > div.illustrationContainer {
		display: none;
	}
	div.leftArea {
		margin-top: 125px;
		width: 100%;
		margin-left: unset;
	}
}
div.loadingBar.hidden {
	display: none;
}
div.loadingBar {
	position: fixed;
	left: 2.5%;
	bottom: 35px;
	overflow: hidden;
}
div.loadingBarTxT {
	color: #000;
	z-index: 999;
	animation: loadingBarTXTAnim 1s ease-in-out infinite;
	text-shadow: 0 0 5px #000;
}
div.loadingBarBG {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #fff;
	animation: loadingBarBGAnim 1s ease-in-out infinite;
}
@keyframes loadingBarBGAnim {
	0% {
		left: -100%;
	}
	100% {
		left: 200%;
	}
}
@keyframes loadingBarTXTAnim {
	0% {
		color: #fff;
	}
	50% {
		color: #000;
	}
	100% {
		color: #fff;
	}
}
