@font-face {
	font-family: Phigros;
	src: url(./Exo-Regular.otf);
	src: url(./Source\ Han\ Sans\ &\ Saira\ Hybrid-Regular.ttf);
}
@font-face {
	font-family: Mina;
	src: url(./Exo-Regular.otf);
	src: url(./Source\ Han\ Sans\ &\ Saira\ Hybrid-Regular.ttf);
}

*{
	font-family: Phigros;
}