html,
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	background: url(../assets/images/ElementSqare.Half.Size.webp) no-repeat center center;
	background-size: cover;
}
div.outerContainter{
	height: 70%;
	width: 70%;
	box-shadow: -15px 20px 0 5px rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}
div.innerContainer{
	color: #FFF;
	width: 100%;
	height: 80%;
	background: rgba(0, 0, 0, 0.8);
}