@import url(../assets/css/css.css);
html,
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html{
	background: url(../assets/images/ElementSqare.Half.Size.webp) center center no-repeat fixed ;
	background-size: cover;
	backdrop-filter: blur(15px);
}
html::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../assets/images/ElementSqare.Half.Size.webp) center center no-repeat fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}
div.leftArea{
	position: fixed;
	top: 0;
	left: -20%;
	padding-left: 20%;
	height: 100%;
	width: 40%;
	min-width: 500px;
	background: rgba(0, 0, 0, 0.5);
	/* border: 1px #6cf solid; */
	color: #FFF;
	padding-top: 100px;
}

#settingItems {
	margin-left: 15%;
}
div.item{
	width: 100%;
	height: 75px;
	/* border: 1px #6cf solid; */
	margin: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
div.title::before{
	content: attr(data-name);
	padding-left: 20px;
}
div.title::after{
	content: attr(data-value);
	padding-right: 20px;
}
div.title{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
div.slider{
	width: 95%;
	height: 30px;
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #00000056;
}
div.slider::before,
div.slider::after,
div.slideBlock{
	display: block;
	height: 120%;
	width: 35px;
	max-width: calc(10% - 15px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	font-size: 1.4em;
	cursor: pointer;
}
div.slider::before{
	content: '-';
	margin-right: 10px;
}
div.slider::after{
	content: '+';
	margin-left: 10px;
}
div.slideBlock::before{
	content: '';
	display: block;
}
div.slideBlock{
	position: relative;
	left: 0;
	top: 0;
	display: block;
	height: 120%;
	width: 35px;
	background-color: #fff;
}

div.toggle{
	height: 25px;
	width: 65px;
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: #000;
	margin-right: 25px;
	align-self: flex-end;
	cursor: pointer;
}

div.toggle.checked{
	justify-content: end;
}
div.toggle::before{
	content: '';
	display: block;
	height: 30px;
	width: 30px;
	background-color: #fff;
}
div.toggle.checked::after{
	content: ' ';
	background: url(../assets/images/Tick.svg) no-repeat center center;
	background-size: contain;
	font-family: Arial, Helvetica, sans-serif;
	order: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 30px);
	height: 100%;
}
div.toggle.checked::before{
	order: 1;
	content: '';
	display: block;
	height: 30px;
	width: 30px;
	background-color: #fff;
}
button.button{
	height: 80%;
	width: 200px;
	margin-left: 10%;
	align-self: flex-start;
	font-size: 16px;
	outline: none;
	color: #FFF;
	border: 2px #FFF solid;
	background: transparent;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
button.button>img{
	height: 20px;
	width: auto;
	margin-right: 20px;
}
div.aboutContainer{
	position: fixed;
	width: 50%;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.aboutContainer>div.device{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.aboutContainer>div.device>span#device{
	text-align: center;
}
@media screen and (max-width: 768px){
	div.aboutContainer{
		display: none;
	}
	div.leftArea{
		width: 100%;
	}
	div.leftArea>div#settingItems{
		margin-right: 15%;
	}
}