@import url(../assets/css/css.css);
html {
	background: url(../assets/images/ElementSqare.Half.Size.webp) center center
		no-repeat fixed;
	background-size: cover;
	box-sizing: border-box;
	height: 100%;
	backdrop-filter: blur(15px) brightness(0.5) contrast(0.5);
	overflow: hidden;
}
html::before {
	content: '';
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../assets/images/ElementSqare.Half.Size.webp) no-repeat
		center center fixed;
	background-size: cover;
	filter: blur(10px) brightness(0.5);
	z-index: -1;
}
div.fadeIn {
	height: 100vh;
	width: 100vw;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	animation: fadeIn 0.6s ease-out;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
}
body {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 0;
}
img.title {
	height: 20%;
	width: auto;
	max-width: 80%;
	object-fit: scale-down;
}
div.tapToStart {
	margin: 30px;
	color: #fff;
	animation: flash 5s ease infinite;
}
@keyframes flash {
	40% {
		opacity: 0.3;
	}
	60% {
		opacity: 1;
	}
}
div.info {
	position: fixed;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* 
canvas#bubbles {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
} 
*/
