@import url(../assets/css/css.css);

html {
	background: #000;
	color: #fff;
	background-size: cover;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}
body {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 0;
}

div.trigger {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
	/* z-index: 1; */
}
div.trigger > img.title {
	height: 20%;
	width: auto;
	max-width: 80%;
	object-fit: scale-down;
}
div.trigger.fadeout {
	animation: fadeOut 0.8s ease-in-out;
	opacity: 0;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
div.trigger > div.tapToStart {
	margin: 30px;
	letter-spacing: 1.1em;
	animation: letterSpacingStretchAnim 6s linear infinite;
}
@keyframes letterSpacingStretchAnim {
	0% {
		letter-spacing: 1.1em;
	}
	50% {
		letter-spacing: 1.2em;
	}
	100% {
		letter-spacing: 1.1em;
	}
}
div#main {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	scrollbar-width: none;
	position: fixed;
	top: 0;
	left: 0;
	--topSize: 100vh;
	margin-top: var(--topSize);
}
::-webkit-scrollbar {
	display: none;
}

pre {
	text-align: center;
	line-height: 1.5em;
}
pre.fromGameDirector {
	text-align: center;
	line-height: 2.2em;
}
div.clickToExitTag {
	position: fixed;
	top: 0;
	left: 0;
	margin: 15px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
div.thanksAllHelpers,
div.thankYou {
	margin-top: 20%;
	margin-bottom: 20%;
}
